<form [formGroup]="form()" (submit)="onSubmit()">
  <div class="flex">
    <input
      class="relative self-center px-6 py-3 w-48 h-full rounded-tl-md rounded-bl-md shadow focus:shadow-outline box-border focus:border-1 box-border"
      [class.border-rose-600]="
        form().controls.username.invalid && form().controls.username.touched
      "
      [formControl]="form().controls.username"
      placeholder="GitHub username ..."
      name="username"
      data-cy="username-input"
    />
    <button
      geaBtn
      geaBtnIcon="search"
      geaBtnLabel="Search"
      geaBtnRounded="right"
      geaBtnColor="primary"
      [disabled]="!form().valid"
      type="submit"
      data-cy="search-button"
    ></button>
  </div>
  <gea-control-error [control]="form().controls.username" />
</form>
