<div>
  <header>
    <div>
      <h2 data-cy="header">GitHub user repository explorer</h2>
    </div>
  </header>

  <div>
    <main>
      <div>
        <gea-github-user-repos />
      </div>
    </main>
  </div>

  <footer>
    <div>
      <div>Marcin K. 2025</div>
      <div>
        <a
          [href]="externalLink.gitHub"
          target="_blank"
          title="GitHub"
          rel="noopener noreferrer"
          data-cy="github-link"
          >GitHub</a
        >
      </div>
      <div>
        <a
          [href]="externalLink.linkedIn"
          target="_blank"
          title="LinkedIn"
          rel="noopener noreferrer"
          data-cy="linkedin-link"
          >LinkedIn</a
        >
      </div>
    </div>
  </footer>
</div>
